/* =========================
   GENERAL
========================= */

/*body {
    background-color: #ffffff;
    color: black;
}*/


/* ====== HEADING ====== */

h1 {
    text-align: center;
    margin-top: 120px;
}


/* ======= CONTAINER ====== */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
}

/* ===== ANIMASI GAMBAR ===== */

.denmaru {
    width: 300px;

    animation: UpDown 3s ease-in-out infinite;
}

@keyframes UpDown {
    0% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(20px);
    }
}


/* ===== RESULT ===== */

#hasil {
    margin-top: 50px;

    animation: LeftRight 1s ease-in-out infinite alternate;
}

@keyframes LeftRight {
    from {
        transform: translateX(-20px);
    }

    to {
        transform: translateX(20px);
    }
}


/* ====== FORM ======  */

.form {
    margin-top: 30px;
}

input {
    padding: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}


/*=== FITUR DARK MODE ==== */

body{
    background-color: white;
    color: #333;
}

input{
    background-color: white;
    color: #333;;
}

input::placeholder{
    color: #666;
}

.dark {
    background-color: #474747;
    color: white;
}

.dark input {
    background-color: #333;
    color: white;
}

.dark input::placeholder {
    color: #aaa;
}

.dark button {
    background-color: white;
    color: #444;
    border-color: #444;
}

/* ===== LOGIN PAGE ===== */

.bi {
    font-size: 20px;
}
/* ===== LOGIN ===== */

body {
    background-color: #f8f9fa;
}


/* Card */

.card {
    border-radius: 16px;
}


/* Input */

.form-control {
    min-height: 45px;
}

.form-control:focus {
    box-shadow: none;
}


/* Password Button */

#togglePassword {
    background:transparent;
}

#togglePassword:focus {
    box-shadow: none;
}

#togglePassword i {
    font-size: 18px;
}

#toggleNewPassword,
#toggleConfirmPassword {
    color: #6c757d;
}

#toggleNewPassword:hover,
#toggleConfirmPassword:hover {
    color: #212529;
}

#toggleNewPassword:focus,
#toggleConfirmPassword:focus {
    box-shadow: none;
}


/* Login Button */

.btn-primary {
    min-height: 45px;
}


/* Login Message */

#loginMessage.success {
    color: #198754;
}

#loginMessage.error {
    color: #dc3545;
}

#registerMessage,
#forgotMessage {
    display: block;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

#registerMessage.success,
#forgotMessage.success {
    color: green !important;
}

#registerMessage.error,
#forgotMessage.error {
    color: red !important;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}