@keyframes UpDown {
    0% {
        transform: translateY(20px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(50px);
    }
}

img {
    animation: UpDown 3s ease-in-out infinite alternate;
    position:relative;
    top:80px;
    left:700px;
}

#YouName {
    animation: LeftRight 1s ease-in-out infinite alternate;
    position:relative;
    top:120px;
    left:870px;
}

    @keyframes LeftRight {
        from {transform: translateX(-20px);} to {transform: translateX(20px);} }
